<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quote List</title>
</head>
<body>
    <ul>
      <% quotes.forEach(quote => { %>
        <li><blockquote><%= quote.quote%></blockquote><br><sub><%= quote.author %></sub></li>
     <% }) %>
    </ul>
</body>
</html>
