<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <table>
      <% map.forEach(item => { %>
        <li><blockquote><%= item%></blockquote><br><sub><%= item. %></sub></li>
     <% }) %>
    </table>
  </div>
</body>
</html>
